div.add-newTask-form{
    width: 30%;
}

div.edit-task-form{
    width: 30%;
}

div.button-row{
    text-align: center;
    margin: 2em;
}

/* .submit-btn{
    margin-left: 6em;
} */

h2.form-title{
    text-align: center;
}